.lampBody {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.btnOn {
  position: relative;
  left: 50%;
  transform: translateX(-6%);
}

.btnOff {
  position: relative;
  left: 50%;
  transform: translateX(-6%);
}

img {
  height: 300px;
}

h1 {
  text-align: center;
}










