body {
  margin: auto;
}

.lampBody {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.on {
  position: relative;
  left: 42%;
  /* transform: translateX(-50%); */
  display: block;
  /* color: #fff; */
  color: black;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-size:20px;
  margin-top: 15px;
  cursor: pointer;
}

.off {
  position: relative;
  left: 42%;
  /* transform: translateX(-50%); */
  display: block;
  /* color: #fff; */
  background-color: #FF0000;
  border-color: #FF0000;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-size:20px;
  color: black;
  margin-top: 15px;
  cursor: pointer;
}

.on:before {
  content: "-Включить-"; 
}

.off:before {
  content: "Выключить"; 
}

.on, .off {
  transition: transform 500ms, background-color 500ms;
}

.on:hover {
  background-color: rgb(0, 255, 0)
}

.off:hover {
  background-color: rgb(255, 100, 0)
}

.on:hover, .off:hover {
  transform: scale(1.2)
}


.on:hover:before {
  content: "turn on";
}

.off:hover:before {
  content: "switch off";
}

img {
  height: 400px;
}

h1 {
  text-align: center;
}

    








